@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

body {
  margin: 0;
  font-family: 'Chakra Petch', sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 50px;
}

.card-image {
  height: auto;
  width: 200px;
  box-shadow: 5px 5px 5px black;
  transition: all .2s ease-in-out;
  border-radius: 5px;
}

.card-image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.score-board {
  color: rgb(214, 187, 146);
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
}

.game-board {
  background-image: url('/public/images/leshysCabin.png');
  background-repeat: repeat-y;
  background-size: cover;
  padding: 50px;
}

header>img {
  width: 100%;
}

header, footer {
  background-color: black;
}

footer {
  color: rgb(214, 187, 146);
  text-align: center;
  font-size: small;
  padding: 10px;
}